In [1]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf


import pandas as pd 
steam_df = pd.read_csv("../steam_data_clean.csv")
steam_df.head()

,name,steam_appid,required_age,supported_languages,developers,publishers,categories,genres,achievements,linux,mac,windows,price,coming_soon,date
0,Counter-Strike,10,0,"['English', ' French', ' German', ' Italian', ...",['Valve'],['Valve'],"['Multi-player', 'PvP', 'Online PvP', 'Shared/...",['Action'],0,True,True,True,999,False,2000-11-01
1,Team Fortress Classic,20,0,"['English', ' French', ' German', ' Italian', ...",['Valve'],['Valve'],"['Multi-player', 'PvP', 'Online PvP', 'Shared/...",['Action'],0,True,True,True,499,False,1999-04-01
2,Day of Defeat,30,0,"['English', ' French', ' German', ' Italian', ...",['Valve'],['Valve'],"['Multi-player', 'Valve Anti-Cheat enabled']",['Action'],0,True,True,True,499,False,2003-05-01
3,Deathmatch Classic,40,0,"['English', ' French', ' German', ' Italian', ...",['Valve'],['Valve'],"['Multi-player', 'PvP', 'Online PvP', 'Shared/...",['Action'],0,True,True,True,499,False,2001-06-01
4,Half-Life: Opposing Force,50,0,"['English', ' French', ' German', ' Korean']",['Gearbox Software'],['Valve'],"['Single-player', 'Multi-player', 'Valve Anti-...",['Action'],0,True,True,True,499,False,1999-11-01

In [2]:
steam_df.shape

(32923, 15)

In [3]:
steam_df.isnull().sum()

name                   0
steam_appid            0
required_age           0
supported_languages    0
developers             0
publishers             0
categories             0
genres                 0
achievements           0
linux                  0
mac                    0
windows                0
price                  0
coming_soon            0
date                   0
dtype: int64

In [4]:
steam_df.dtypes

name                   object
steam_appid             int64
required_age            int64
supported_languages    object
developers             object
publishers             object
categories             object
genres                 object
achievements            int64
linux                    bool
mac                      bool
windows                  bool
price                   int64
coming_soon              bool
date                   object
dtype: object

In [5]:
steam_df = steam_df.drop(['developers','publishers','date'], axis=1)
steam_df

,name,steam_appid,required_age,supported_languages,categories,genres,achievements,linux,mac,windows,price,coming_soon
0,Counter-Strike,10,0,"['English', ' French', ' German', ' Italian', ...","['Multi-player', 'PvP', 'Online PvP', 'Shared/...",['Action'],0,True,True,True,999,False
1,Team Fortress Classic,20,0,"['English', ' French', ' German', ' Italian', ...","['Multi-player', 'PvP', 'Online PvP', 'Shared/...",['Action'],0,True,True,True,499,False
2,Day of Defeat,30,0,"['English', ' French', ' German', ' Italian', ...","['Multi-player', 'Valve Anti-Cheat enabled']",['Action'],0,True,True,True,499,False
3,Deathmatch Classic,40,0,"['English', ' French', ' German', ' Italian', ...","['Multi-player', 'PvP', 'Online PvP', 'Shared/...",['Action'],0,True,True,True,499,False
4,Half-Life: Opposing Force,50,0,"['English', ' French', ' German', ' Korean']","['Single-player', 'Multi-player', 'Valve Anti-...",['Action'],0,True,True,True,499,False
...,...,...,...,...,...,...,...,...,...,...,...,...
32918,Streamer Shall Not Pass!,1191540,0,"['English', ' French', ' Italian', ' German', ...","['Single-player', 'Multi-player', 'PvP', 'Onli...","['Action', 'Adventure', 'Casual', 'Indie', 'St...",1,False,False,True,999,False
32919,Fifo's Night,1191550,0,"['English', ' Spanish - Spain']","['Single-player', 'Steam Achievements', 'Full ...","['Adventure', 'Casual', 'Indie']",17,False,True,True,0,False
32920,End of War 1945,1191590,0,['English'],"['Single-player', 'Multi-player', 'PvP', 'Onli...","['Action', 'Casual', 'Indie', 'Early Access']",0,False,False,True,1499,False
32921,Memory,1191610,0,['English'],"['Single-player', 'Steam Achievements', 'Parti...",['Indie'],20,False,False,True,1499,False
32922,Shantae and the Seven Sirens,1191630,0,"['English', ' French', ' Italian', ' German', ...","['Single-player', 'Steam Achievements', 'Full ...",['Adventure'],38,False,False,True,2999,False

In [6]:
def foo(column_name, alias):
    dummies_testdf = pd.get_dummies(
    steam_df.join(pd.Series(steam_df[column_name].apply(eval).apply(pd.Series).stack().reset_index(1, drop=True),
                        name=alias)).drop(column_name, axis=1),
    columns=[alias]).groupby('name', as_index=False).sum()
    return dummies_testdf

In [7]:
cat = foo('categories', "category")
cat

,name,steam_appid,required_age,achievements,linux,mac,windows,price,coming_soon,category_Captions available,...,category_Stats,category_Steam Achievements,category_Steam Cloud,category_Steam Leaderboards,category_Steam Trading Cards,category_Steam Turn Notifications,category_Steam Workshop,category_SteamVR Collectibles,category_VR Support,category_Valve Anti-Cheat enabled
0,Fieldrunners 2,215710,0,59,0.0,1.0,1.0,999,0.0,0,...,0,0,0,0,0,0,0,0,0,0
1,Sakura no Mori † Dreamers 2,2949450,0,0,0.0,0.0,3.0,7497,0.0,0,...,0,0,1,0,1,0,0,0,0,0
2,! That Bastard Is Trying To Steal Our Gold !,1349820,0,0,0.0,0.0,3.0,897,0.0,0,...,0,0,0,0,1,0,0,0,0,0
3,"!""DEPLOYMENT""!",6803820,63,486,0.0,0.0,9.0,8991,0.0,0,...,1,1,0,1,0,0,0,0,0,0
4,"!""Time Lock VR-1""!",673450,0,0,0.0,0.0,1.0,999,0.0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32841,👾 Foreign Frugglers,4287680,0,64,0.0,0.0,4.0,1596,0.0,0,...,0,1,0,1,0,0,0,0,0,0
32842,🔴 Circles,1380750,0,24,0.0,0.0,3.0,2697,0.0,0,...,0,1,1,0,0,0,0,0,0,0
32843,🚀 Human Rocket Person,3861360,0,88,0.0,0.0,4.0,796,0.0,0,...,0,1,0,0,0,0,0,0,0,0
32844,🚀👾Absolute Blue 👾🚀,1612440,0,0,0.0,0.0,2.0,798,0.0,0,...,0,0,0,0,0,0,0,0,0,0
32845,🧠 OUT OF THE BOX,2307840,72,112,4.0,0.0,4.0,5996,0.0,0,...,0,1,1,0,1,0,0,0,0,0

In [8]:
genre = foo('genres','genre')
genre

,name,steam_appid,required_age,achievements,linux,mac,windows,price,coming_soon,genre_Accounting,...,genre_Racing,genre_Sexual Content,genre_Simulation,genre_Software Training,genre_Sports,genre_Strategy,genre_Utilities,genre_Video Production,genre_Violent,genre_Web Publishing
0,Fieldrunners 2,647130,0,177,0.0,3.0,3.0,2997,0.0,0,...,0,0,0,0,0,1,0,0,0,0
1,Sakura no Mori † Dreamers 2,983150,0,0,0.0,0.0,1.0,2499,0.0,0,...,0,0,0,0,0,0,0,0,0,0
2,! That Bastard Is Trying To Steal Our Gold !,1799760,0,0,0.0,0.0,4.0,1196,0.0,0,...,0,0,0,0,0,0,0,0,0,0
3,"!""DEPLOYMENT""!",4535880,42,324,0.0,0.0,6.0,5994,0.0,0,...,0,0,0,0,1,1,0,0,0,0
4,"!""Time Lock VR-1""!",2693800,0,0,0.0,0.0,4.0,3996,0.0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32841,👾 Foreign Frugglers,2143840,0,32,0.0,0.0,2.0,798,0.0,0,...,0,0,0,0,0,0,0,0,0,0
32842,🔴 Circles,920500,0,16,0.0,0.0,2.0,1798,0.0,0,...,0,0,0,0,0,0,0,0,0,0
32843,🚀 Human Rocket Person,2896020,0,66,0.0,0.0,3.0,597,0.0,0,...,0,0,1,0,0,0,0,0,0,0
32844,🚀👾Absolute Blue 👾🚀,1612440,0,0,0.0,0.0,2.0,798,0.0,0,...,0,0,0,0,0,0,0,0,0,0
32845,🧠 OUT OF THE BOX,3461760,108,168,6.0,0.0,6.0,8994,0.0,0,...,0,0,1,0,0,1,0,0,0,0

In [9]:
lang = foo('supported_languages','languages')
lang

,name,steam_appid,required_age,achievements,linux,mac,windows,price,coming_soon,languages_ Korean,...,languages_Simplified Chinese,languages_Spanish - Latin America,languages_Spanish - Spain,languages_Swedish,languages_Thai,languages_Traditional Chinese,languages_Turkish,languages_Ukrainian,languages_Vietnamese,languages_nan
0,Fieldrunners 2,215710,0,59,0.0,1.0,1.0,999,0.0,0,...,0,0,0,0,0,0,0,0,0,0
1,Sakura no Mori † Dreamers 2,1966300,0,0,0.0,0.0,2.0,4998,0.0,0,...,1,0,0,0,0,0,0,0,0,0
2,! That Bastard Is Trying To Steal Our Gold !,449940,0,0,0.0,0.0,1.0,299,0.0,0,...,0,0,0,0,0,0,0,0,0,0
3,"!""DEPLOYMENT""!",5291860,49,378,0.0,0.0,7.0,6993,0.0,0,...,0,0,0,0,0,0,0,0,0,0
4,"!""Time Lock VR-1""!",3367250,0,0,0.0,0.0,5.0,4995,0.0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32841,👾 Foreign Frugglers,1071920,0,16,0.0,0.0,1.0,399,0.0,0,...,0,0,0,0,0,0,0,0,0,0
32842,🔴 Circles,12426750,0,216,0.0,0.0,27.0,24273,0.0,0,...,0,0,0,0,0,0,0,0,0,0
32843,🚀 Human Rocket Person,5792040,0,132,0.0,0.0,6.0,1194,0.0,0,...,0,0,0,0,0,0,0,0,0,0
32844,🚀👾Absolute Blue 👾🚀,806220,0,0,0.0,0.0,1.0,399,0.0,0,...,0,0,0,0,0,0,0,0,0,0
32845,🧠 OUT OF THE BOX,2307840,72,112,4.0,0.0,4.0,5996,0.0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
newsteamdf = pd.concat([cat,genre,lang], axis=1)
newsteamdf

,name,steam_appid,required_age,achievements,linux,mac,windows,price,coming_soon,category_Captions available,...,languages_Simplified Chinese,languages_Spanish - Latin America,languages_Spanish - Spain,languages_Swedish,languages_Thai,languages_Traditional Chinese,languages_Turkish,languages_Ukrainian,languages_Vietnamese,languages_nan
0,Fieldrunners 2,215710,0,59,0.0,1.0,1.0,999,0.0,0,...,0,0,0,0,0,0,0,0,0,0
1,Sakura no Mori † Dreamers 2,2949450,0,0,0.0,0.0,3.0,7497,0.0,0,...,1,0,0,0,0,0,0,0,0,0
2,! That Bastard Is Trying To Steal Our Gold !,1349820,0,0,0.0,0.0,3.0,897,0.0,0,...,0,0,0,0,0,0,0,0,0,0
3,"!""DEPLOYMENT""!",6803820,63,486,0.0,0.0,9.0,8991,0.0,0,...,0,0,0,0,0,0,0,0,0,0
4,"!""Time Lock VR-1""!",673450,0,0,0.0,0.0,1.0,999,0.0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32841,👾 Foreign Frugglers,4287680,0,64,0.0,0.0,4.0,1596,0.0,0,...,0,0,0,0,0,0,0,0,0,0
32842,🔴 Circles,1380750,0,24,0.0,0.0,3.0,2697,0.0,0,...,0,0,0,0,0,0,0,0,0,0
32843,🚀 Human Rocket Person,3861360,0,88,0.0,0.0,4.0,796,0.0,0,...,0,0,0,0,0,0,0,0,0,0
32844,🚀👾Absolute Blue 👾🚀,1612440,0,0,0.0,0.0,2.0,798,0.0,0,...,0,0,0,0,0,0,0,0,0,0
32845,🧠 OUT OF THE BOX,2307840,72,112,4.0,0.0,4.0,5996,0.0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
newsteamdf.isnull().sum()

name                             0
steam_appid                      0
required_age                     0
achievements                     0
linux                            0
                                ..
languages_Traditional Chinese    0
languages_Turkish                0
languages_Ukrainian              0
languages_Vietnamese             0
languages_nan                    0
Length: 186, dtype: int64

In [12]:
newsteamdf = newsteamdf.fillna(0)
newsteamdf

,name,steam_appid,required_age,achievements,linux,mac,windows,price,coming_soon,category_Captions available,...,languages_Simplified Chinese,languages_Spanish - Latin America,languages_Spanish - Spain,languages_Swedish,languages_Thai,languages_Traditional Chinese,languages_Turkish,languages_Ukrainian,languages_Vietnamese,languages_nan
0,Fieldrunners 2,215710,0,59,0.0,1.0,1.0,999,0.0,0,...,0,0,0,0,0,0,0,0,0,0
1,Sakura no Mori † Dreamers 2,2949450,0,0,0.0,0.0,3.0,7497,0.0,0,...,1,0,0,0,0,0,0,0,0,0
2,! That Bastard Is Trying To Steal Our Gold !,1349820,0,0,0.0,0.0,3.0,897,0.0,0,...,0,0,0,0,0,0,0,0,0,0
3,"!""DEPLOYMENT""!",6803820,63,486,0.0,0.0,9.0,8991,0.0,0,...,0,0,0,0,0,0,0,0,0,0
4,"!""Time Lock VR-1""!",673450,0,0,0.0,0.0,1.0,999,0.0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32841,👾 Foreign Frugglers,4287680,0,64,0.0,0.0,4.0,1596,0.0,0,...,0,0,0,0,0,0,0,0,0,0
32842,🔴 Circles,1380750,0,24,0.0,0.0,3.0,2697,0.0,0,...,0,0,0,0,0,0,0,0,0,0
32843,🚀 Human Rocket Person,3861360,0,88,0.0,0.0,4.0,796,0.0,0,...,0,0,0,0,0,0,0,0,0,0
32844,🚀👾Absolute Blue 👾🚀,1612440,0,0,0.0,0.0,2.0,798,0.0,0,...,0,0,0,0,0,0,0,0,0,0
32845,🧠 OUT OF THE BOX,2307840,72,112,4.0,0.0,4.0,5996,0.0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
# newsteamdf.isnull().sum()

In [14]:
boolean = newsteamdf['coming_soon'].duplicated().any()

In [15]:
boolean

True

In [16]:
newsteamdf = newsteamdf.drop_duplicates()

In [17]:
newsteamdf

,name,steam_appid,required_age,achievements,linux,mac,windows,price,coming_soon,category_Captions available,...,languages_Simplified Chinese,languages_Spanish - Latin America,languages_Spanish - Spain,languages_Swedish,languages_Thai,languages_Traditional Chinese,languages_Turkish,languages_Ukrainian,languages_Vietnamese,languages_nan
0,Fieldrunners 2,215710,0,59,0.0,1.0,1.0,999,0.0,0,...,0,0,0,0,0,0,0,0,0,0
1,Sakura no Mori † Dreamers 2,2949450,0,0,0.0,0.0,3.0,7497,0.0,0,...,1,0,0,0,0,0,0,0,0,0
2,! That Bastard Is Trying To Steal Our Gold !,1349820,0,0,0.0,0.0,3.0,897,0.0,0,...,0,0,0,0,0,0,0,0,0,0
3,"!""DEPLOYMENT""!",6803820,63,486,0.0,0.0,9.0,8991,0.0,0,...,0,0,0,0,0,0,0,0,0,0
4,"!""Time Lock VR-1""!",673450,0,0,0.0,0.0,1.0,999,0.0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32841,👾 Foreign Frugglers,4287680,0,64,0.0,0.0,4.0,1596,0.0,0,...,0,0,0,0,0,0,0,0,0,0
32842,🔴 Circles,1380750,0,24,0.0,0.0,3.0,2697,0.0,0,...,0,0,0,0,0,0,0,0,0,0
32843,🚀 Human Rocket Person,3861360,0,88,0.0,0.0,4.0,796,0.0,0,...,0,0,0,0,0,0,0,0,0,0
32844,🚀👾Absolute Blue 👾🚀,1612440,0,0,0.0,0.0,2.0,798,0.0,0,...,0,0,0,0,0,0,0,0,0,0
32845,🧠 OUT OF THE BOX,2307840,72,112,4.0,0.0,4.0,5996,0.0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
newsteamdf = newsteamdf.drop(['name'],axis = 1)

In [19]:
newsteamdf

,steam_appid,required_age,achievements,linux,mac,windows,price,coming_soon,category_Captions available,category_Co-op,...,languages_Simplified Chinese,languages_Spanish - Latin America,languages_Spanish - Spain,languages_Swedish,languages_Thai,languages_Traditional Chinese,languages_Turkish,languages_Ukrainian,languages_Vietnamese,languages_nan
0,215710,0,59,0.0,1.0,1.0,999,0.0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2949450,0,0,0.0,0.0,3.0,7497,0.0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,1349820,0,0,0.0,0.0,3.0,897,0.0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,6803820,63,486,0.0,0.0,9.0,8991,0.0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,673450,0,0,0.0,0.0,1.0,999,0.0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32841,4287680,0,64,0.0,0.0,4.0,1596,0.0,0,0,...,0,0,0,0,0,0,0,0,0,0
32842,1380750,0,24,0.0,0.0,3.0,2697,0.0,0,0,...,0,0,0,0,0,0,0,0,0,0
32843,3861360,0,88,0.0,0.0,4.0,796,0.0,0,0,...,0,0,0,0,0,0,0,0,0,0
32844,1612440,0,0,0.0,0.0,2.0,798,0.0,0,0,...,0,0,0,0,0,0,0,0,0,0
32845,2307840,72,112,4.0,0.0,4.0,5996,0.0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
newsteamdummy = pd.get_dummies(newsteamdf, columns=['required_age','linux','mac','windows'], drop_first=True, dtype=float)
newsteamdummy.shape

(32846, 488)

In [21]:
newsteamdummyx = newsteamdummy.drop('coming_soon', axis=1)
newsteamdummyx.head()

,steam_appid,achievements,price,category_Captions available,category_Co-op,category_Commentary available,category_Compras em aplicativo,category_Cross-Platform Multiplayer,category_Full controller support,category_In-App Purchases,...,windows_20.0,windows_21.0,windows_22.0,windows_23.0,windows_24.0,windows_25.0,windows_26.0,windows_27.0,windows_28.0,windows_29.0
0,215710,59,999,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2949450,0,7497,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1349820,0,897,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,6803820,486,8991,0,0,0,0,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,673450,0,999,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
newsteamdummyy = newsteamdummy['coming_soon']
newsteamdummyy

       coming_soon  coming_soon  coming_soon
0              0.0          0.0          0.0
1              0.0          0.0          0.0
2              0.0          0.0          0.0
3              0.0          0.0          0.0
4              0.0          0.0          0.0
...            ...          ...          ...
32841          0.0          0.0          0.0
32842          0.0          0.0          0.0
32843          0.0          0.0          0.0
32844          0.0          0.0          0.0
32845          0.0          0.0          0.0

[32846 rows x 3 columns]

In [23]:
X = newsteamdummyx
y = newsteamdummyy
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 50)

In [24]:
scaler = StandardScaler()

X_scaler = scaler.fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [25]:
# lang = steam_df['supported_languages'].apply(pd.Series)

In [26]:
# type(lang[0])

In [27]:
# type(steam_df['supported_languages'][0])

In [28]:
# from sklearn.preprocessing import MultiLabelBinarizer

# mlb = MultiLabelBinarizer()

# df = pd.DataFrame(
#     {'supported_languages':
#         [['Russian'],
#         ['English'],
#         ['Spanish-Spain'],
#         ['French'],
#         ['Vietnamese'],
#         ['Polish'],
#         ['German'],
#         ['Traditional Chinese'],
#         ['Korean'],
#         ['Danish'],
#         ['Dutch'],
#         ['Italian'],
#         ['Finnish'],
#         ['Japanese'],
#         ['Norwegian'],
#         ['Bulgarian'],
#         ['Czech'],
#         ['Greek'],
#         ['Portuguese'],
#         ['Romanian'],
#         ['Simplified Chinese'],
#         ['Swedish'],
#         ['Thai'],
#         ['Turkish'],
#         ['Ukrainian'],
#         ['Slovakian'],
#         ['Portuguese-Brazil']]
#     }, columns=['supported_languages'])

# s = df['supported_languages']

# pd.DataFrame(mlb.fit_transform(s),columns=mlb.classes_, index=df.index)

# steam_df = pd.DataFrame(mlb.fit_transform(steam_df['supported_languages']),columns=mlb.classes_, index=steam_df.index)
# print (steam_df)

In [29]:
# from sklearn.preprocessing import MultiLabelBinarizer

# mlb = MultiLabelBinarizer()

# df2 = pd.DataFrame(
#     {'categories':
#         [['Multiplayer'],
#         ['PvP'],
#         ['Online Pv'],
#         ['Shared/Split Screen PvP'],
#         ['Valve Anti-Cheat enabled'],
#         ['Remote Play Together'],
#         ['Single Player'],
#         ['Remote Play on Phone'],
#         ['Remote Play on Tablet'],
#         ['Steam Achievements'],
#         ['Steam Trading Cards'],
#         ['Cross-Platform Multiplayer'],
#         ['Stats'],
#         ['Includes Source SDK'],
#         ['Partial Controller Support'],
#         ['Full Controller Support'],
#         ['Co-op'],
#         ['Online Co-op'],
#         ['Captions available'],
#         ['Steam Workshop'],
#         ['Steam Leaderboards'],
#         ['Commentary available'],
#         ['Includes level editor'],
#         ['LAN PvP'],
#         ['Steam Cloud']]
#     }, columns=['categories'])

# s = df2['categories']

# pd.DataFrame(mlb.fit_transform(s),columns=mlb.classes_, index=df2.index)

# steam_df = pd.DataFrame(mlb.fit_transform(steam_df['supported_languages']),columns=mlb.classes_, index=steam_df.index)
# print (steam_df)

In [30]:
# df_name = df_name.loc[df_name['column name']>0]

In [31]:
# df['column name'].value_counts().loc[lambda x : x>1]

In [32]:
# replace = df['column name'].value_counts().loc[lambda x : x < 900].index

# for cls in replace:
#     df['column name'] = df['column name'].replace(cls,"Other")

# df['column name'].value_counts()

In [33]:
# dummiesdf = pd.get_dummies(df, columns=['columns'], drop_first=True, dtype=float)
# dummiesdf.shape

In [34]:
# dummiesdfx = dummiesdf.drop('steam_appid', axis=1)
# dummiesdfx.head()

In [35]:
# dummiesdfy = dummiesdf['steam_appid']
# dummiesdfy

In [36]:
# X = dummiesdfx
# y = dummiesdfy

# X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 50)

In [37]:
scaler = StandardScaler()

X_scaler = scaler.fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [44]:
nn1 = tf.keras.models.Sequential()

nn1.add(tf.keras.layers.Dense(units=100, activation="relu",input_dim=485))

nn1.add(tf.keras.layers.Dense(units=50, activation="relu"))

nn1.add(tf.keras.layers.Dense(units=3, activation="softmax"))

nn1.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 100)               48600
_________________________________________________________________
dense_4 (Dense)              (None, 50)                5050
_________________________________________________________________
dense_5 (Dense)              (None, 3)                 153
=================================================================
Total params: 53,803
Trainable params: 53,803
Non-trainable params: 0
_________________________________________________________________

In [45]:
nn1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [40]:
# import os
# from tensorflow import keras
# os.makedirs("checkpoints/", exist_ok=True)
# chp = "checkpoints/weights.{epoch:05d}.hdf5"

In [41]:
# chp_callback = tf.keras.callbacks.ModelCheckpoint(filepath= chp, verbose =1, save_weights_only=True, save_freg = "epoch", period=5)

In [42]:
# fit_model_callback=nn1.fit(X_train_scaled, y_train, epochs = 50, callbacks=[chp_callback])

In [46]:
fit_model = nn1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
770/770 [==============================] - 2s 1ms/step - loss: 0.1003 - accuracy: 0.2248
Epoch 2/50
770/770 [==============================] - 1s 1ms/step - loss: 0.0054 - accuracy: 0.4527
Epoch 3/50
770/770 [==============================] - 1s 1ms/step - loss: 0.0045 - accuracy: 0.3462
Epoch 4/50
770/770 [==============================] - 1s 1ms/step - loss: 0.0031 - accuracy: 0.4580
Epoch 5/50
770/770 [==============================] - 1s 1ms/step - loss: -2.6984e-04 - accuracy: 0.6577
Epoch 6/50
770/770 [==============================] - 1s 1ms/step - loss: -0.0016 - accuracy: 0.5567
Epoch 7/50
770/770 [==============================] - 1s 1ms/step - loss: -0.0047 - accuracy: 0.5240
Epoch 8/50
770/770 [==============================] - 1s 1ms/step - loss: -0.0060 - accuracy: 0.9127
Epoch 9/50
770/770 [==============================] - 1s 1ms/step - loss: -0.0054 - accuracy: 0.9778
Epoch 10/50
770/770 [==============================] - 1s 1ms/step - loss: -0.0557 - accuracy: 0.8380
Epoch 11/50
770/770 [==============================] - 1s 1ms/step - loss: -0.0471 - accuracy: 0.9584
Epoch 12/50
770/770 [==============================] - 1s 1ms/step - loss: -0.0494 - accuracy: 0.8252
Epoch 13/50
770/770 [==============================] - 1s 1ms/step - loss: -0.0299 - accuracy: 0.9875
Epoch 14/50
770/770 [==============================] - 1s 1ms/step - loss: -0.1439 - accuracy: 0.7868
Epoch 15/50
770/770 [==============================] - 1s 1ms/step - loss: -0.1676 - accuracy: 0.8867
Epoch 16/50
770/770 [==============================] - 1s 1ms/step - loss: -0.3426 - accuracy: 0.9103
Epoch 17/50
770/770 [==============================] - 1s 1ms/step - loss: -0.2868 - accuracy: 0.9862
Epoch 18/50
770/770 [==============================] - 1s 1ms/step - loss: -0.8042 - accuracy: 0.9921
Epoch 19/50
770/770 [==============================] - 1s 1ms/step - loss: -0.9774 - accuracy: 0.9678
Epoch 20/50
770/770 [==============================] - 1s 1ms/step - loss: -0.2391 - accuracy: 0.9660
Epoch 21/50
770/770 [==============================] - 1s 1ms/step - loss: -0.7356 - accuracy: 0.9938
Epoch 22/50
770/770 [==============================] - 1s 1ms/step - loss: -0.6394 - accuracy: 0.9970
Epoch 23/50
770/770 [==============================] - 1s 1ms/step - loss: -0.6068 - accuracy: 0.9939
Epoch 24/50
770/770 [==============================] - 1s 1ms/step - loss: -2.0767 - accuracy: 0.9972
Epoch 25/50
770/770 [==============================] - 1s 1ms/step - loss: -1.6544 - accuracy: 0.9935
Epoch 26/50
770/770 [==============================] - 1s 1ms/step - loss: -3.2073 - accuracy: 0.9949
Epoch 27/50
770/770 [==============================] - 1s 1ms/step - loss: -2.4057 - accuracy: 0.9940
Epoch 28/50
770/770 [==============================] - 1s 1ms/step - loss: -1.5025 - accuracy: 0.9927
Epoch 29/50
770/770 [==============================] - 1s 1ms/step - loss: -6.1776 - accuracy: 0.9976
Epoch 30/50
770/770 [==============================] - 1s 1ms/step - loss: -1.7638 - accuracy: 0.9978
Epoch 31/50
770/770 [==============================] - 1s 1ms/step - loss: -0.2332 - accuracy: 0.9974
Epoch 32/50
770/770 [==============================] - 1s 1ms/step - loss: -6.4707 - accuracy: 0.9979
Epoch 33/50
770/770 [==============================] - 1s 1ms/step - loss: -2.3344 - accuracy: 0.9974
Epoch 34/50
770/770 [==============================] - 1s 1ms/step - loss: -5.7554 - accuracy: 0.9963
Epoch 35/50
770/770 [==============================] - 1s 1ms/step - loss: -3.2838 - accuracy: 0.9976
Epoch 36/50
770/770 [==============================] - 1s 1ms/step - loss: -11.8203 - accuracy: 0.9964
Epoch 37/50
770/770 [==============================] - 1s 2ms/step - loss: -4.8795 - accuracy: 0.9972
Epoch 38/50
770/770 [==============================] - 1s 2ms/step - loss: -12.2095 - accuracy: 0.9964
Epoch 39/50
770/770 [==============================] - 1s 2ms/step - loss: -6.6146 - accuracy: 0.9964
Epoch 40/50
770/770 [==============================] - 1s 2ms/step - loss: -13.4271 - accuracy: 0.9972
Epoch 41/50
770/770 [==============================] - 1s 1ms/step - loss: -4.0507 - accuracy: 0.9976
Epoch 42/50
770/770 [==============================] - 1s 1ms/step - loss: -24.8735 - accuracy: 0.9972
Epoch 43/50
770/770 [==============================] - 1s 2ms/step - loss: -12.4624 - accuracy: 0.9927
Epoch 44/50
770/770 [==============================] - 1s 1ms/step - loss: -28.5157 - accuracy: 0.9980
Epoch 45/50
770/770 [==============================] - 1s 1ms/step - loss: -10.5490 - accuracy: 0.9976
Epoch 46/50
770/770 [==============================] - 1s 1ms/step - loss: -12.0409 - accuracy: 0.9978
Epoch 47/50
770/770 [==============================] - 1s 1ms/step - loss: -34.9008 - accuracy: 0.9981
Epoch 48/50
770/770 [==============================] - 1s 1ms/step - loss: -4.2750 - accuracy: 0.9977
Epoch 49/50
770/770 [==============================] - 1s 1ms/step - loss: -14.1924 - accuracy: 0.9973
Epoch 50/50
770/770 [==============================] - 1s 1ms/step - loss: -22.7764 - accuracy: 0.9971

In [47]:
model_loss, model_accuracy = nn1.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

257/257 - 0s - loss: 10.0129 - accuracy: 0.9950
Loss: 10.012877464294434, Accuracy: 0.995007336139679